:root{
    --primary-color: #1e1e1e;
    --secondary-color: #E5E4E2;
    --accent-color: #C41E3A;
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    bottom: 0;
    margin: 0;
}

#terminal-window{
    visibility: hidden;
    backdrop-filter: blur(10px);
    border: var(--secondary-color) 1px solid;
    border-radius: 25px;
    margin: 1rem;
    height: 80vh;
    width: 80vw;
}

#terminal-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 20px 20px 0 0;
    height: 5vh;
    width: 100%;
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 1rem;
}

#minimize-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    cursor: pointer;
}

#close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    cursor: pointer;
}

#terminal-window-minimized{
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 25px;
    background: var(--secondary-color);
    height: 5vh;
    width: 40vw;
    margin-bottom: -5rem;
}

#terminal video{
    object-fit: fill;
}

@media (max-width: 768px) {
    #name{
        margin-left: 0.5rem;
    }

    #close-button, #minimize-button {
        height: 15px;
        width: 18px;
        margin-right: 0.5rem;
    }

    #terminal-window-minimized {
        width: 80vw;
    }
}