:root{
    --primary-color: #1e1e1e;
    --secondary-color: #E5E4E2;
    --accent-color: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
    
}

body{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

#window{
    position: absolute;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    bottom: 0;
    margin: auto;
}

#day, #date, #time{
    text-align: center;
    font-family: audiowide, sans-serif;
    user-select: none;
}

#day{
    font-size: 5rem;
    text-transform: uppercase;
}

#time{
    font-size: 2rem;
    margin-top: -1rem;
}

#date{
    font-size: 1.5rem;
}

#terminal-icon{
    position: absolute;
    bottom: 2rem;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#terminal-icon:hover{
    transform: translate(0, -5px) scale(1.1);
    transition: transform 0.3s;
}

#terminal-window{
    position: absolute;
    visibility: hidden;
    backdrop-filter: blur(10px);
    border: var(--primary-color) 1px solid;
    border-radius: 25px;
    margin: 1rem;
    height: 80vh;
    width: 80vw;
}

#terminal-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 20px 20px 0 0;
    height: 5vh;
    width: 100%;
    user-select: none;
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-left: 1rem;
}

#minimize-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: yellowgreen;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    cursor: pointer;
}

#close-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    cursor: pointer;
}

#terminal-body{
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Pixelify Mono', monospace;
    overflow-y: auto;
    height: 75vh;
    width: 80vw;
    overflow: scroll;
    scrollbar-width: none;
}

#terminal-input{
    background: transparent;
    border: none;
    width: 80%;
    font-size: 1.2rem;
    color: var(--secondary-color);
    outline: none;
    color:#adadad;
}

#input, #prompt{
    color:#adadad;
}

.highlighter{
    color: var(--accent-color);
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

#terminal-body img{
    float: left;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}



@media (max-width: 768px) {
    #name{
        margin-left: 0.5rem;
    }

    #close-button, #minimize-button {
        height: 15px;
        width: 18px;
        margin-right: 0.5rem;
    }

    #window{
        min-width: 100%;
        min-height: 100%;
    }

    #day{
        font-size: 2.5rem;
    }
    #time{
        font-size: 1.2rem;
        margin-top: -0.5rem;
    }
    #date{
        font-size: 0.8rem;
    }

    #terminal-icon{
        height: 40px;
        width: 40px;
        bottom: 5rem;
    }
}